#intro-container{
    height: 620px;
    padding: 0;
}

#intro-signup-btn{
    background-color: #fb931d;
    border-color: #F67C0D;
    color:white;
    border-radius: 17px;
} 
#intro-learn-btn{
    border: 1px solid #e6e6e6c4;
    border-radius:17px;
}


@media all and (min-width: 0px) and (max-width: 660px) {
    #intro-textfild{
        padding-top: 12rem;
    }
}

@media all and (min-width: 661px) and (max-width: 1500px) {
    #intro-textfild{
        padding-left: 12rem;
        padding-top: 12rem;
    }
}
