
ul {
    list-style: none;
}

.decor-none {
    text-decoration: none !important;
}

.space-btw {
    justify-content: space-between;
}

.display-flex {
    display: flex;
}

.bttn-x {
    color: #ffff !important;
    border-radius: 15px !important;
    width: 100%;
}
.bttn-x:hover {
    color: #719df8 !important;
}

.lh-2 {
    line-height: 2;
}

/* --- Logo --- */
.logo-style {
    font-size: 23px;
    font-weight: 800;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #645a53;
    margin: 0 ;
    padding: 2.5px;
    text-align: left;
    letter-spacing: 1.5px;
  }

.logo-style::first-letter {
    color: #f57706;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}

.logo-white {
    font-size: 23px;
    font-weight: 800;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #ffff;
    margin: 0 ;
    padding: 2.5px;
    text-align: left;
    letter-spacing: 1.5px;
  }
.logo-white::first-letter {
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}

.title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    font-weight: 100;
    line-height: 1.47em;
}

.underline:hover {
    text-decoration: underline !important;
}

.color-fail {
    color: #f5222d;
}